[submodule "libs/lume"]
	path = libs/lume
	url = https://github.com/rxi/lume.git
[submodule "libs/middleclass"]
	path = libs/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "libs/Simple-Tiled-Implementation"]
	path = libs/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "libs/stateful.lua"]
	path = libs/stateful.lua
	url = https://github.com/kikito/stateful.lua.git
